<div class="section">
        <div class="container">
                <%if !@valid%>
                        <div class="panel panel-danger">
                                <div class="panel-heading">Error</div>
                                <div class="panel-body" style="color: #ffffff">You have not selected your role or you have selected multiple roles. Please put the poro once</div>
                        </div>
                        <%end%>
                                <%if @resultados2 !=nil%>
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                        <h3 class="panel-title">General Recommendation</h3>
                                                                </div>
                                                                <%max=@resultados2.first.performance%>
                                                                        <%@resultados2[0,5].each do |r|%>
                                                                                <%perf=r.performance/max%>
                                                                                        <div class="panel-body">
                                                                                                <div class="media">
                                                                                                        <div class="media-left">
                                                                                                                <img class="media-object" src='http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/<%=@champions.find(r.id).key%>.png' width="75" height="75">
                                                                                                        </div>
                                                                                                        <div class="media-body">
                                                                                                                <h4 class="media-heading"><%=@champions.find(r.id).name%></h4>

                                                                                                                <div class="progress" style="height:40px">
                                                                                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%=(perf*100).ceil%>%">
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                </div>

                                                                                        </div>
                                                                                        <%end%>
                                                        </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                        <h3 class="panel-title">Mastery Recommendation</h3>
                                                                </div>
                                                                <%if @resultados.first !=nil%>
                                                                 <%max=@resultados.first.performance%>
                                                                 <%end%>
                                                                        <%@resultados[0,5].each do |r|%>
                                                                                <%perf=r.performance/max%>
                                                                                        <div class="panel-body">
                                                                                                <div class="media">
                                                                                                        <div class="media-left">
                                                                                                                <img class="media-object" src='http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/<%=@champions.find(r.id).key%>.png' width="75" height="75">
                                                                                                        </div>
                                                                                                        <div class="media-body">
                                                                                                                <h4 class="media-heading"><%=@champions.find(r.id).name%></h4>

                                                                                                                <div class="progress" style="height:40px">
                                                                                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%=(perf*100).ceil%>%">
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                </div>

                                                                                        </div>
                                                                                        <%end%>
                                                        </div>
                                                </div>
                                        </div>
                                        <%end%>
        </div>
</div>