<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <link href="stylesheets/askmrcoach.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<body>
        <form class="button_to" method="post" id="lola" action="recommend">
                <div class="navbar navbar-default navbar-static-top">
                        <div class="container">
                                <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><span>AskMrCoach</span></a></div>
                                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                                        <ul class="nav navbar-nav navbar-right">
                                                <li><a href="https://github.com/scandex/askmrcoach2">About</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="section">
                        <div class="container">
                                <div class="panel panel-info">
                                        <div class="panel-heading text-center">How to use AskMrCoach?</div>
                                        <div class="panel-body text-center" style="color: #ffffff">To use AskMrCoach you just need to put the
                                                <a data-toggle="tooltip" title="<img src='http://ddragon.leagueoflegends.com/cdn/6.10.1/img/profileicon/937.png' />">poro</a> in your desire role and then select
                                                <a data-toggle="tooltip" title="at least one">some</a> allies and/or enemies.
                                                <br> Using your selections, the system will start to recommend you automatically some champions that are good in that specific composition
                                                <br> If you enter your summoner and region the system will recommend you champions based on your masteries
                                                <br>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                                <h3 class="panel-title">Ally Team
                                                                <button type="button" class="btn btn-primary btn-xs pull-right" id="ally"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>RESET</button></h3>
                                                        </div>
                                                        <div class="panel-body">
                                                                <div class="btn-group">
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Top</span></h4>
                                                                                <img src='tmp.png' id="btopimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ally" id="btop_select" name="p1" style="width: 100px" img='#btopimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <option value='-1' key="poro">This is My Rol</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Jungle</span></h4>
                                                                                <img src='tmp.png' id="bjgimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ally" id="bjg_select" name="p2" style="width: 100px" img='#bjgimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <option value='-1' key="poro">This is My Rol</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Mid</span></h4>
                                                                                <img src='tmp.png' id="bmidimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ally" id="bmid_select" name="p3" style="width: 100px" img='#bmidimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <option value='-1' key="poro">This is My Rol</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">ADC</span></h4>
                                                                                <img src='tmp.png' id="badcimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ally" id="badc_select" name="p4" style="width: 100px" img='#badcimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <option value='-1' key="poro">This is My Rol</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Support</span></h4>
                                                                                <img src='tmp.png' id="bsuppimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ally" id="bsupp_select" name="p5" style="width: 100px" img='#bsuppimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <option value='-1' key="poro">This is My Rol</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="usr">Summoner:</label>
                                                        <input type="text" class="form-control" id="usr" name="p12">
                                                </div>
                                                <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary active btn-sm">
                                                                <input type="radio" name="p11" id="op1" checked value="br"> BR
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op2" value="eune"> EUNE
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op3" value="euw"> EUW
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op4" value="kr"> KR
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op5" value="lan"> LAN
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op6" value="las"> LAS
                                                        </label>
                                                        <label class="btn btn-primary  btn-sm">
                                                                <input type="radio" name="p11" id="op7" value="na"> NA
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op8" value="oce"> OCE
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op9" value="ru"> RU
                                                        </label>
                                                        <label class="btn btn-primary btn-sm">
                                                                <input type="radio" name="p11" id="op10" value="tr"> TR
                                                        </label>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="panel panel-danger">
                                                        <div class="panel-heading">
                                                                <h3 class="panel-title">Enemy Team
                                                                 <button type="button" class="btn btn-danger btn-xs pull-right" id="enemy"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>RESET</button></h3>
                                                        </div>
                                                        <div class="panel-body">
                                                                <div class="btn-group">
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Top</span></h4>
                                                                                <img src='tmp.png' id="rtopimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ene" id="rtop_select" name="p6" style="width: 100px" img='#rtopimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Jungle</span></h4>
                                                                                <img src='tmp.png' id="rjgimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ene" id="rjg_select" name="p7" style="width: 100px" img='#rjgimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Mid</span></h4>
                                                                                <img src='tmp.png' id="rmidimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ene" id="rmid_select" name="p8" style="width: 100px" img='#rmidimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">ADC</span></h4>
                                                                                <img src='tmp.png' id="radcimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ene" id="radc_select" name="p9" style="width: 100px" img='#radcimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="btn-group-vertical">
                                                                                <h4 style="margin-bottom: 0px"><span class="label label-info center-block">Support</span></h4>
                                                                                <img src='tmp.png' id="rsuppimg" class="img-thumbnail center-block" width="100" height="100">
                                                                                <div class="picker">
                                                                                        <select class="form-control a ene" id="rsupp_select" name="p10" style="width: 100px" img='#rsuppimg'>
                                                                                                <option value='0' key="tmp.png">No Champion</option>
                                                                                                <% @champions.each do |d|%>
                                                                                                        <option value=<%=d.id%> key=
                                                                                                                <%=d.key%>>
                                                                                                                        <%=d.name%>
                                                                                                        </option>
                                                                                                        <%end%>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="container" id="loader">
                                <div class="row">
                                        <h3>Loading data... Please wait.</h3>
                                        <div class="progress progress-striped active page-progress-bar">
                                                <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                </div>
                        </div>
                </div>
                <br>

                <div class="dynamic">
                        <%=render partial: 'recomm' %>
                </div>

                <footer class="footer">
                        <div class="container">
                                <p class="text-muted">AskMrCoach isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or
                                        registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                                </p>
                        </div>
                </footer>
                <script type="text/javascript">
                        $('#loader').hide();
                        $(document).ready(function() {
                                var currentRequest;
                                jQuery.ajaxSetup({
                                        beforeSend: function() {
                                                if (currentRequest != null) {
                                                        currentRequest.abort();
                                                }
                                                $('#loader').show();
                                        },
                                        complete: function() {
                                                $('#loader').hide();
                                        },
                                        success: function() {}
                                });
                                $("select.form-control.a").select2({
                                        dropdownAutoWidth: true,
                                        templateResult: addUserPic

                                });
                                $('a[data-toggle="tooltip"]').tooltip({
                                        animated: 'fade',
                                        placement: 'bottom',
                                        html: true
                                });

                                $('select.form-control, #op1,#op2,#op3,#op4,#op5,#op6,#op7,#op8,#op9,#op10').change(function() {

                                        var key = $('option:selected', this).attr('key');
                                        var img = $(this).attr('img');
                                        var imgn = 'http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/' + key + '.png';
                                        if (key == "tmp.png") {
                                                imgn = key;
                                        }
                                        if (key == "poro") {
                                                imgn = 'http://ddragon.leagueoflegends.com/cdn/6.10.1/img/profileicon/937.png';
                                        }
                                        $(img).attr('src', imgn);
                                        var form = $('#lola');
                                        var post_url = form.attr('action');
                                        var post_data = form.serialize();

                                        currentRequest = $.ajax({
                                                type: 'POST',
                                                url: post_url,
                                                data: post_data,
                                                success: function(msg) {
                                                        $(".dynamic").fadeOut(800, function() {
                                                                $(".dynamic").html(msg).fadeIn().delay(1000);

                                                        });
                                                }
                                        });
                                });

                                $('#lola').submit(function(e) {
                                        e.preventDefault();
                                        var form = $(this);
                                        var post_url = form.attr('action');
                                        var post_data = form.serialize();

                                        $.ajax({
                                                type: 'POST',
                                                url: post_url,
                                                data: post_data,
                                                success: function(msg) {

                                                }
                                        });
                                });

                        });
                        $('#ally').click(function() {
                                $('select.form-control.a.ally').select2('val', '0');
                        });
                        $('#enemy').click(function() {
                                $('select.form-control.a.ene').select2('val', '0');
                        });


                        function addUserPic(opt) {
                                var key = $(opt.element).attr('key');
                                var img = '"http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/' + key + '.png"';
                                if (key == "tmp.png") {
                                        img = key;
                                }
                                if (key == "poro") {
                                        img = 'http://ddragon.leagueoflegends.com/cdn/6.10.1/img/profileicon/937.png';
                                }
                                var $opt = $(
                                        '<span><img src=' + img + ' class="img-thumbnail" width="36" height="36" /> ' + $(opt.element).text() + '</span>'
                                );
                                return $opt;

                        };
                </script>
</body>

</html>
